
.who-we-are{
  margin-bottom: 80px;
  .item {
    height: 410px;
  }
  .item:first-child {
    display: flex;
    align-items: center;
    background-color: $yellow;
    .content {
      h2 {
        font-weight: 800;
        font-size: 40px;
        padding: 0px 10px;
      }
      p {
        font-size: 16px;
        padding: 0px 10px;
      }
    }
  }
  .item:last-child {
    background-image: url('/img/civil-engineers-looking-at-blueprints-473683922-5c14287446e0fb00014ad74b 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
  }
}

.images-view {
  margin-bottom: 80px;
  .img-view-1 {
    height: 400px;
    background-image: url('/img/Pexels Photo by Maroš Markovič.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
  }
  .img-view-2 {
    height: 400px;
    background-image: url('/img/Pexels Photo by Expect Best.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
  }
  .img-view-3 {
    height: 400px;
    background-image: url('/img/josh-olalde-X1P1_EDNnok-unsplash 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1000px) {
  .who-we-are{
    margin-top: 80px;
    .item {
      height: 730px;
    }
    .item:first-child {
      background-color: $yellow;
      .content {
        width: 441px;
        margin: auto;
        h2 {
          padding: 0px;
        }
        p {
          font-size: 24px;
          padding: 0px;
        }
      }
    }
    .item:last-child {
      height: 730px;
    }
  }
  .images-view {
    margin-top: 119px;
    .img-view-1 {
      height: 800px;
      margin-bottom: 0px;
    }
    .img-view-2 {
      position: relative;
      margin-bottom: 0px;
      top: -40px;
    }
  }
}