
.contact {
  .contact-item {
    background-color: $white;
    height: 130vh;
    .content {
      width: 350px;
      margin: auto;
      padding-top: 40px;
      .content-item {
        padding-top: 20px;
        border-bottom: 1px solid $gray;
        h5 {
          font-size: 18px;
          font-weight: bold;
        }
        p {
          font-size: 16px;
        }
        span {
          font-size: 16px;
        }
        last-span {
          margin-bottom: 10px;
        }
      }
      .content-social {
        margin-top: 20px;
        display: flex;
        .social-item {
          width: 46px;
          height: 46px;
          background-color: $dark;
          border-radius: 50%;
          padding: 11px 15px;
          font-size: 19px;
          margin-right: 10px; 
          a {
            color: $white;
          }
        
      }
      }
    }
  }
  .contact-item:first-child {
    height: 70vh;
  }
  .contact-item:last-child {
    background-color: $gray;
    height: 125vh;
    .content {
      margin: auto;
      // padding-top: 60px;
      h5 {
        font-size: 27px;
        font-weight: bold;
      }
      .form-content {
        padding-top: 20px;
        display: grid;
        label {
          font-size: 18px;
          padding-bottom: 10px;
          span {
            color: red;
          }
        }
        input  {
          background-color: $gray;
          border: 1px solid #C4C4C4;
          padding: 10px;
          width: 320px;
          &:focus {
            outline: none;
          }
        }
        textarea  {
          background-color: $gray;
          border: 1px solid #C4C4C4;
          width: 320px;
          height: 181px;
          &:focus {
            outline: none;
          }
        }
      }
      .submit {
        margin-top: 20px;
        padding: 10px 30px 10px 30px;
        background-color: $yellow;
        border: 0px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .contact {
    .contact-item:first-child {
      height: 150vh;
      p {
        font-size: 20px;
      }
      span {
        font-size: 20px;
      }
      .content {
        padding-top: 90px;
      }
    }
    .contact-item:last-child {
      height: 150vh;
      .content {
        width: 480px;
        padding-top: 90px;
        .form-content {
          input  {
            width: 531px;
          }
          textarea  {
            width: 531px;
          }
        }
      }
    }
  }
  .contact .contact-item .content .content-item p {
    font-size: 18px;
}
.contact .contact-item .content .content-item span {
  font-size: 18px;
}
}