
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: $dark;
  color: $white;
  img {
    width: 80px;
    margin-bottom: 40px;
  }
  h4 {
    font-weight: bold;
    font-size: 24px;
  }
  .content-social {
    margin-top: 20px;
    display: flex;
    .social-item {
      width: 46px;
      height: 46px;
      background-color: $white;
      border-radius: 50%;
      padding: 11px 15px;
      font-size: 19px;
      margin-right: 10px; 
      a {
        color: $dark;
      }
    }
  }
  ul {
    padding-left: 0px;
    li {
      list-style: none;
      padding: 5px 0px 5px 0px;
      a {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
  }
  .copyright {
    color: $white;
    display: block;
    text-align: center;
    p {
      color: $white;
      font-size: 12px;
    }
    a {
      color: $white;
      font-size: 12px;
      &:hover {
        color: $white;
      }
    }
  }
}

@media (min-width: 1000px) {
  .footer .copyright {
    color: $white;
    display: flex;
    justify-content: space-between;
  }
}