.bg-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url('/img/Pexels\ Photo\ by\ Adrien\ Olichon.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  color: $white;

  .container {
    display: flex;
    align-items: center;
    height: 115vh;
    h2 {
      font-weight: 800;
      font-size: 40px;
      padding-bottom: 10px;
    }
    .first-hero-text {
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.yellow-bg {
  background-color: $theme-color;
  height: 520px;
  font-size: 20px;
  color: $white;
  .container{
    display: flex;
    align-items: center;
    height: 540px;
  }
}

.home-about-us {
  height: 750px;
  .about-item:first-child {
    background-color: $gray;
    display: flex;
    align-items: center;
    height: 480px;
    .content {
      h2 {
        font-size: 27px;
        font-weight: bold;
        color: $blue;
      }
      .text-content{
        font-size: 16px;
        padding-bottom: 10px;
      }
      .btn-button {
        background-color: $blue;
      }
    }
  }
  .about-item:last-child {
    height: 350px;
    background-image: url('/img/pexels-burst-544966\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.home-our-services {
  background-color: $white;
  margin-top: 125px;
  margin-bottom: 1020px;
  .container {
    height: 600px;
    .content{
      h2 {
        font-size: 27px;
        font-weight: bold;
        color: $blue;
      }
      .text {
        font-size: 16px;
        margin-bottom: 40px;
      }
      .service-item {
        margin-bottom: 20px;
      }
      .title-text {
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        color: $blue;
      }
      .design-bg {
        background: url('/img/design-strategy.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 400px;
        color: $white;
        font-size: 27px;
        font-weight: bold;
        padding-left: 30px;
        display: flex;
        align-items: end;
      }
      .programming-bg {
        background: url('/img/design-programming.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 400px;
        color: $white;
        font-size: 27px;
        font-weight: bold;
        padding-left: 30px;
        display: flex;
        align-items: end;
      }
        .deliverables-bg {
        background: url('/img/design-deliverables.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 400px;
        color: $white;
        font-size: 27px;
        font-weight: bold;
        padding-left: 30px;
        display: flex;
        align-items: end;
      }
    }
  }
}

@media (min-width: 1000px) {
  .bg-hero {
    .container {
      height: 118vh;
      h2 {
        width: 545px;
        font-size: 48px;
        font-weight: bold;
      }
      .first-hero-text {
        font-size: 22px;
        width: 582px;
      }
    }
  }

  .yellow-bg {
    height: 500px;
    font-size: 26px;
    text-align: center;
    .container{
      height: 500px;
      .content {
        margin: auto;
        p {
          font-weight: 300;
          width: 846px;
        }
      }
    }
  }

  .home-about-us {
    height: 500px;
    .about-item:first-child {
      height: 500px;
      .content {
        width: 470px;
        margin: auto;
        h2 {
          font-weight: 800;
          font-size: 40px;
        }
        .text-content{
          font-size: 20px;
        }
      }
    }
    .about-item:last-child {
      height: 500px;
    }
  }
  .home-our-services{
    margin-top: 80px;
    margin-bottom: 70px;
    .container {
      .content{
        h2 {
          font-weight: 800;
        font-size: 40px;
        }
        .text {
          font-size: 20px;
          width: 404px;
        }
      }
    }
  }
}