.side-msg {
  display: flex;
  justify-content: end;
  .side-message {
    background-color: $theme-color;
    padding: 38px;
    color: $white;
  }
}

.services-our-services {
  background-color: $white;
  margin-top: 30px;
  margin-bottom: 1600px;
  .container {
    height: 600px;
    .read-more {
      background-color: $white;
      position: relative;
      left: -11px;
      top: 65px;
      p{
        font-size: 18px;
        color: #818080;
        padding: 20px;
        font-weight: lighter;
      }
      .thumbnail-1 {
        background: url('/img/Pexels Photo by Julia Kuzenkov.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 105px;
      }
      .thumbnail-2 {
        background: url('/img/Pexels Photo by Steffen Coonan.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 105px;
      }
      .thumbnail-3 {
        background: url('/img/pexels-tima-miroshnichenko-6474346 1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 105px;
      }
      .thumbnail-4 {
        background: url('/img/unsplash_yWwob8kwOCk.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 105px;
      }
    }
    .services-content{
      h2 {
        font-weight: 800;
        font-size: 40px;
        padding-bottom: 10px;
      }
      img {
        width: 42px;
        position: relative;
        top: 36px;
      }
      .text {
        width: 334px;
      }
      .design-bg {
        background: url('/img/design-strategy.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 400px;
        padding-left: 20px;
      }
      .expansion-bg {
        background: url('/img/design-programming.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 400px;
        padding-left: 20px;
      }
      .refurbishment-bg {
        background: url('/img/design-deliverables.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 400px;
        padding-left: 20px;
      }
      .fit-out-bg {
        background: url('/img/design-co-ordination.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 400px;
        padding-left: 20px;
      }
      .title-text {
        padding: 15px 20px;
        p {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 0px;
          color: $blue;
        }
        .learn-btn {
          background-color: transparent;
          border: 0px;
          color: #818080;
          font-size: 14px;
          &:focus {
            outline: none;
          }
          img {
            width: 34px;
            position: revert;
            padding-left: 4px;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .side-msg {
    .side-message {
      width: 771px;
      height: 422px;
      display: flex;
      align-items: center;
      
      position: relative;
      top: -94px;
      font-size: 30px;
      p {
        width: 610px;
      }
    }
  }
  .services-our-services{
    margin-top: -80px;
    margin-bottom: 500px;
  }
  .services-our-services {
    .container {
      .read-more {
        p{
          height: 300px;
        }
      }
    }
  }
}